
:root {

    --cor01: rgb(25, 19, 39);
    --cor02: #f0f0f0;
    --cor03: #6e0488;
    --cor04: #f6f6f6;
    --cor05: #b9b9b9;
    --cor06: rgb(0, 185, 0);
    --cor07: rgb(242, 0, 85);


    --font01: 'Montserrat', sans-serif;

}

/* section que compõe toda a parte da sacola  */
.basketSection{
    width: 100%;
    height: 70px;
   position: fixed;
    bottom: 0px;
    left:0px;
    
    border-style: solid;
    border-width: 3px 0px 0px 0px ;
    border-color:  #6e0488;

    background-color: rgba(255, 255, 255, 0.929);
    backdrop-filter: blur(4px);

    text-align: center;

    padding-top: 70px;
}

.basketSectionOpen{
    height: 100%;
    padding-top: 0px;
    position: fixed;

    
}


/* compõe toda a parte do botão  da sacola que abre e fecha a div */
.basket{
    width: 95%;
    max-width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: #f20055;
    color: white;
    position: fixed;
    padding: 10px;
    
    left: 50%;
    bottom: 33px;
    transform: translate(-50%,50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;
}

/* ícone da sacola */
.IconBasket{
    position: relative;
}

/* circulo que contem o numero de itens na sacola */
.circleNumberBasket{
    
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:rgb(242, 0, 85);
}


/*numero de itens na sacola*/
.circleNumberBasket >p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    color: white;
    font-size: 0.7em;
    font-weight: 600;

}




/* container com os itens do carrinho */


.containerCart{
    width: 92%;
    height: 80%;

    margin: auto;
    margin-top: 10px;
    background-color: #6e048800;
    border-radius: 5px;
    
    background-color: #d8d8d882;
    overflow: auto scroll;
}
.cartItem{
    width: 97%;
    height: 100px;
    position: relative;
    
    margin: auto ;
    margin-top: 10px;
    padding: 5px;
    
    background-color:white;
    border-radius: 5px;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.159);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;

    color:#6e0488 ;
}

/*css da tag details do pedido do açai*/
.complementsAcaiOrder{
    width: 97%;
    height: auto;
    text-align: left;
    background-color: var(--cor03);
    margin: auto;
    z-index: 9999;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;

}

.imgAmountCartIten{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.NamePrinceCartIten{
    width: 65%;
    height: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}




/* detalhes de cada iten */
.imgItem{
    width: 90px;
 
}
.amount{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor03);
    color: white;
    font-size: 1.3em;
}
.itemName{
   
    width: 100%;
}

.totalPrice, .itemPrice{
    width: 100%;
    font-size: 0.8em;
}

.trashIcon{
    width: 30px;
    height: 100%;

    
    
    
    
    background-color: var(--cor07);

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.priceIten{
    display: flex;
    justify-content: space-evenly;
}

/* botão de finaliar  o pedido */

.sendOrder{
    width: 60px;
    height: 60px;
    display: none;
    position: fixed;
    bottom: 30%;
    left: 82%;
    
    border-radius: 50%;
    margin: auto;
   
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.274) ;
    
    background-image: radial-gradient(circle,#ef1360,#e30251,#bc0042);
    
}
.sendOrder>img{
    width: 40px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    
}